---
const proyects = [
    {
        title: "MARIANO JUAREZ",
        subtitle: "Portfolio para Diseñador Gráfico",
        description: "El diseñador me presentó un prototipo inicial del portfolio que tenia en mente. Juntos, completamos secciones inconclusas y perfeccionamos detalles. Propuse agregar dinamismo al disponer y rotar los proyectos de forma aleatoria en cada actualización. Se priorizó la calidad de los trabajos sobre los tiempos de carga, con la intención de mejorar la experiencia visual de los visitantes.",
        web: "https://marianojuarez.com/",
        code: "https://github.com/Joaquin-Elia/portfolioJuarez",
        img: '/marianojuarez.webp',
        technologies: ['HTML,', 'CSS,', 'JavaScript']
    },
    {
        title: "ESTUDIO ERSA",
        subtitle: "Web para clientes",
        description: "Fui contactado para diseñar y desarrollar un sitio web moderno y profesional. Se me encargó construir calculadoras de indemnización para uso interno del estudio, con el objetivo de proporcionar respuestas rápidas y estimativas a los clientes. Trabajé en optimizar el rendimiento y la velocidad de carga a fin de incrementar el posicionamiento SEO.",
        web: "https://estudiojuridicoersa.com.ar/",
        code: "https://github.com/Joaquin-Elia/EstudioJuridicoErsa",
        img: "/estudiojuridicoeys.webp",
        technologies: ['HTML,', 'CSS,', 'JavaScript,', 'API Leaflet']
    },
    {
        title: "AJETREO PROD",
        subtitle: "Ecommerce productora musical",
        description: "Contaban con un sitio web hecho en WordPress que querían renovar tanto estética como funcionalmente. Se estaban utilizando servicios que remplacé por desarrollos propios, incluyendo un carrito de compras, reproductor de música y videos, registro e inicio de sesión de usuarios, e integración de la API de PayPal. Todo esto se almacena en una base de datos. Continúo trabajando en nuevas funcionalidades y mejoras.",
        web: "",
        code: "https://github.com/Joaquin-Elia/AjetreoProd",
        img: "/ajetreo.webp",
        technologies: ['React.js,', 'Firebase,', 'CSS,', 'API PayPal']
    }
]
---

<>
    {proyects.map(({title, subtitle, description, img, web, code, technologies}) =>
        <article class="works">
            <div class="works-text">
                <h3>{title}</h2>
                <h4>{subtitle}</h3>
                <p class="work-description">{description}</p>
                <h5>Tecnologías: </h5>
                <ul class="works-technologies">
                    <li>{technologies[0]}</li>
                    <li>{technologies[1]}</li>
                    <li>{technologies[2]}</li>
                    <li>{technologies[3]}</li>
                </ul>
                <div class="works-links">
                    {web && 
                        <a 
                            class="link-web"
                            href={web} 
                            target="_blank" rel="noopener noreferrer"
                        >
                            PAGINA WEB
                        </a>
                    }
                    <a 
                        href={code}
                        target="_blank" rel="noopener noreferrer"
                    >
                        CODIGO
                    </a>
                </div>
            </div>
            <img 
                src={img}
                alt={`Proyecto ${title}, ${subtitle}`}
                loading="lazy"
            >
        </article>
    )}
</>