---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/icon.ico">
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600&family=Mulish:wght@800;900&display=swap" rel="stylesheet">
		<title>{title}</title>
		<meta name="title" content={title} />
		<meta name="description" content={description} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://joaquinelia.netlify.app/" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content="https://joaquinelia.netlify.app/joaquinelia.jpg" />
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://joaquinelia.netlify.app/" />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />
		<meta property="twitter:image" content="https://joaquinelia.netlify.app/joaquinelia.jpg" />
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--text-color: #fff;
		--blue-color: #154DDC;
		--dark-blue: #0A1C33;
		--gray-blue: #B5C5FF;
		--light-gray: #E4E4E4;
	}
	*{
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		vertical-align: baseline;
	}
	img, picture, figure{
		max-width: 100%;
		display: block;
	}
	a {
		display: block;
	}
	li {
		list-style-type: none;
	}
	html {
		scroll-behavior: smooth;
	}
	h1, h2, h3, h4, p, a, span, strong {
		font-size: 1em;
		font-weight: inherit;
		font-style: inherit;
		text-decoration: none;
		color: inherit;
	}
	body {
		font-size: 100%;
		font-family: 'Inter', sans-serif;
		color: var(--text-color);
		overflow-x: hidden;
	}
	a:hover:before{
        transform: scaleX(1);
        transition-timing-function: ease;
    }
    a::before{
        content: '';
		display: block;
        position: absolute;
        bottom: .1rem;
        left: .6rem;
        width: 90%;
        height: 1px;
        will-change: transform, color;
        transform: scaleX(0);
        transform-origin: 50% 50%;
        transition: transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94), background .3s;
        background: linear-gradient(90deg, #b5c5ff31, #fff, #b5c5ff31);
    }
	.proyects {
		order: 1;
	}
	.github {
		order: 2
	}
	.about {
		order: 3;
	}
	.linkedin {
		order: 4;
	}
	.contact {
		order: 5;
	}
	.cv {
		order: 6;
	}
	@media (max-width: 29rem) {
		a::before{
			left: .35rem;
			width: 85%;
		}
        .about{
            order: 2;
        }
        .contact{
            order: 3;
        }
        .github{
            order: 4;
        }
        .linkedin{
            order: 5;
        }
        .cv{
            order: 6;
        }
	}
</style>
